*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Ingrid+Darling&family=Playwrite+CU:wght@100..400&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/** ------------------------shared all style----------------------- **/
.display-flex{
 display: flex;
}
.primary{
 display: flex;
 background-color: #E6533C;
 border: none;
 border-radius: 1.25rem;
 padding: .625rem;
 color: #FFFFFF;
 font-size: 1.125rem;
}
.btn-primary{
 background-color: rgba(255, 255, 255, 0.1);
 border: none;
 border-radius: 2.19rem;
 color: #FFFFFF;
 padding: .63rem;
}
.ctn-primary{
 display: flex;
 background-color: #E6533C;
 border: none;
 border-radius: 1.56rem;
 padding: .63rem;
 color: #FFFFFF;
 font-size: 1.13rem;
 margin-left: 3.13rem;
 width: 14rem;
 text-align: center;
 justify-content: center;
 margin-bottom: 1.65rem;
}

/** ------------------------bg dark color--------------------------- **/
.bg-dark{
 background-color: #111111;
}

/** ----------------------text color------------------------------- **/
.text-color{
 color: #FFFFFF;
}


/** ----------------navbar related style---------------------------- **/
.navbar{
 text-align: center;
 justify-content: space-between;
 align-items: center;
 margin-right: 11.88rem;
 padding-top: 3.13rem;
}

.logo{
 font-weight: 800;
 font-size: 2.25rem;
 color: #E6533C;
 margin-left: 11.25rem;
}
.nav-item{
 list-style: none;
 margin-right: 3.75rem;
}
.nav-links{
 font-size: 1.6rem;
 border: .1px solid #292424;
 border-radius: 6rem;
 align-items: center;
}
.nav-link{
 font-weight:700;
 font-size: 1.13rem;
 text-decoration: none;
 margin: 1px;
 display: flex;
}

/** -----------------------Header related style--------------------------------------- **/
 .hero{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 
 span{
  font-family: "Grey Qo", cursive;
  font-weight: 400;
 }
 .hero-title{
  font-size: 4.88rem;
  color: rgba(255, 255, 255, 1);
 }
 .hero-description{
  margin: 1.25rem;
  font-size: 1.13rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
 }
.cta-buttons{
  display: flex;
  gap: 1.25rem;
  margin: 1.25rem;
 }
 .cta-buttons a{
  text-decoration: none;
  padding: .75rem 1.56rem;
  font-weight: 600;
 }
 .join-button{
  background-color: rgba(230, 83, 60, 1);
  color:rgba(255, 255, 255, 1);
  border-radius: 3.13rem;
  display: inline;
}
 .download-button{
 border: 1px solid rgba(187, 187, 187, 1);
 color: #fff;
 border-radius: 3.13rem;
 display: inline;
}

/** ------------------------slider card style ----------------------- **/
.card-info1{
position: absolute;
right: 34.38rem;
bottom: 16.25rem;
z-index: 1;
}
.card-info2{
  position: absolute;
  right: 13.75rem;
  bottom: 32.5rem;
  z-index: 1;
}
 .card-image img{
  height: 1.88rem;
  width: 1.88rem;
  border-radius: 100%;
  margin-left: 1.25rem;
 }
 .card-image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(71, 66, 66, 0.54);
  color: #808080;
  font-weight: bold;
  width: 12.1rem;
  height: 6.13rem;
  border-radius: 15px;
}
 .card-view{
  margin-top: 1.13rem;
  margin-left: 0.63rem;
  width: 13.75rem;
  height: 13.75rem;
 }
 .card-view h1{
  font-size: 1.25rem;
  color: rgba(250, 250, 249, 1);
 }
 .card-view p{
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
 }
 .card-image img{
  height: 1.88rem;
  width: 1.88rem;
  border-radius: 100%;
  margin-left: 1.25rem;
 }

 .card-image-1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(71, 66, 66, 0.54);
  color: #808080;
  font-weight: bold;
  width: 12.1rem;
  height: 6.13rem;
  border-radius: 0.94rem;
  margin-top: 6.25rem;
}
 .card-view{
  width: 13.75rem;
  height: 7.5rem;
 }
 card-count{
  text-align: center;
  font-size: 1.25rem;
  color: rgba(250, 250, 249, 1);
 }
 .card-view p{
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
 }


/** ------------------------------------habits exercise style----------------------- **/
.habits{
  background-color: black;
}
.exercise-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.habits-description{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.88rem;
  text-align: center;
}
.exercise-image img{
  border-color:rgba(255, 255, 255, 1) ;
  border-radius: 50%;
  padding: 4.1rem;
}
.habits-titles{
 font-size: 3rem;
 text-align: center;
 color: rgba(255, 255, 255, 1);
 padding-top: 3.13rem;
}
.habits-title{
 font-size: 1.13rem;
 text-align: center;
 color: rgba(255, 255, 255, 1);
}

/** ----------------------run exercise related style------------------------- **/
.exercise-image img{
  display: flex;
}
.run-exercise{
 background-color: rgb(0, 0, 0);
 padding: 6.25rem;
}
.exercise{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(34, 34, 34, 1);
 border-radius: 1.88rem;
 width: 66.25rem;
 height: 23.19rem;
 margin-left: 12.5rem;
}
.column{
  width: 27.69rem;
  height: 18.13rem;
}
.exercise-title{
  font-size: 3rem;
  color: white;
  margin-bottom: .88rem;
}
.exercise-description{
  font-size: .88rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2.13rem;
}
.run-image img{
  width: 22.88rem;
  height: 19.5rem;
  border-radius:1.13rem ;
}

/** -----------------------------Training and exercise------------------ **/
.grid{
  background-color: black !important;
}
.training-title{
  font-size: 3rem;
  color: white;
  text-align: center !important;
  padding: 0.63rem;
}
.training-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.88rem;
  text-align: center;
  padding: 0.88rem;
}
.grid-image, .grid-image2{
  padding: 8px;
  display: flex;
  justify-content: center;
}

.grid-item1{
  background-color: rgba(6, 255, 210, 0.5);
}
.grid-item2 {
  background-color: rgba(255, 0, 0, 0.3);
}
.grid-item5 {
  background-color: rgba(66, 255, 0, 0.3);
}
.grid-item6 {
  background-color: rgba(0, 71, 255, 0.3);
}

.grid-item1 img{
  width: 15.63rem;
  height: 12.5rem;
  opacity: 0.3;
}
.grid-item2 img{
  width: 32.5rem;
  height: 12.6rem;
  opacity: 0.3;
}
.grid-item3 img{
  width: 18rem;
  height: 12.9rem;
  opacity: 0.3;
}
.grid-item4 img{
  width: 26.56rem;
  height: 12.5rem;
  opacity: 0.3;
}
.grid-item5 img{
  width: 18rem;
  height: 12.5rem;
  opacity: 0.3;
}
.grid-item6 img{
  width: 21.69rem;
  opacity: 0.3;
  height: 12.7rem;
}
/** -----------------------------fitness-chart-------------------------------------- **/
.fitness-chart-section{
  background-color: #000;
  padding: 5.5rem;
}
.chart-title{
  font-size: 3rem;
  text-align: center;
  color: #ffff;
  margin-bottom: 1rem;
}
.chart-description{
  font-size: .88rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.fitness-chart{
  background-color: rgba(34, 34, 34, 1);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35.4rem;
  gap: 2rem;
  padding: 0 2rem;
  margin-top: 2.5rem;
}
.bmi-chart, .bmi-calculator{
  background-color: rgba(34, 34, 34, 1);
  padding: 2rem;
  border-radius: 8px;
  max-width: 25rem;
  width: 100%;
}
h2{
  color: rgba(255, 255, 255, 1);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td{
  padding: 0.7rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  
}
td{
 color: rgba(153, 153, 153, 1);
}
th {
  color: rgba(255, 255, 255, 1);
}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
input, select{
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}
.submit-button{
  width: 14rem;
  padding: 0.8rem;
  border: none;
  border-radius: 1.56rem;
  background-color: rgba(230, 83, 60, 1);
  color: #fff;
}
p{
  font-size: 0.9rem;
  color: rgba(153, 153, 153, 1);
}

/** ----------------------------------team-section style-------------------------- **/
.team-section {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 3.43rem 1.37rem;
 }
 .team-section h1 {
  font-size: 2.25rem;
  margin-bottom: 0.63rem;
 }
 .subtitle {
  font-size: 1.13rem;
  color: #ccc;
  margin-bottom: 2.5rem;
 }
 .team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  justify-content: center;
  width: 66.25rem;
  margin: 0 auto;
 }
 .team-member {
  background-color: #383737;
  border-radius: 0.63rem;
  padding: 1.25rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 .team-member img {
  border-radius: 0.63rem;
  width: 20.38rem;
  height: 17.19rem;
  margin-bottom: 0.94rem;
}
 .team-member h3 {
  position:absolute;
  font-size: 1.25rem;
  margin-left: 1.88rem;
  top: 234rem;
 }
 .team-member p {
  position:absolute;
  top: 235.3rem;
  margin-left: 1.88rem;
  font-size: 1rem;
  color: #aaa;
 }
 .team-member-1 {
  background-color: #1c1c1c;
  border-radius: 0.63rem;
  padding: 1.25rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 .team-member-1 img {
  border-radius: 0.63rem;
  width: 20.38rem;
  height: 17rem;
  margin-bottom: 1.25rem;
}
 .team-member-1 h3 {
  position:absolute;
  font-size: 1.25rem;
  margin-left: 1.88rem;
  top: 255rem;
  
 }
 .team-member-1 p {
  position:absolute;
  top: 256.4rem;
  margin-left: 1.87rem;
  font-size: 1rem;
  color: #aaa;
 }
 .team-member-2 {
  background-color: #1c1c1c;
  border-radius: 0.63rem;
  padding: 1.25rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 .team-member-2 img {
  border-radius: 0.63rem;
  width: 20.38rem;
  height: 17rem;
  margin-bottom: 0.63rem;
}
 .team-member-2 h3 {
  position:absolute;
  font-size: 1.25rem;
  margin-left: 1.88rem;
  top: 254.38rem;
 }
 .team-member-2 p {
  position:absolute;
  margin-left: 1.87rem;
  font-size: 1rem;
  color: #aaa;
  top: 256rem;
 }
 
 
/** -----------------------------------foot-panel1------------------------ **/
.foot-panel1{
  background-color: rgba(34, 34, 34, 1);
  display: flex;
  color: aliceblue;
  justify-content: center;
  gap: 6.25rem;
  padding: 3.13rem;
}
.foot-panel1 ul p{
  padding: 0.63rem;
}
.foot-description{
  font-size: 0.88rem;
  color:rgba(255, 255, 255, 0.5);
  margin-top: 1.25rem;
}
.foot-title1{
  font-weight: 700;
  font-size: 4.38rem;
  margin-top: 1.88rem;
  color: rgba(230, 83, 60, 1);
}
.foot-title2{
  font-weight: 700;
  font-size: 2rem;
  margin: 2.44rem;
}
.foot-description-title{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  margin: 2.19rem;
}

.foot-panel3{
  background-color:rgba(34, 34, 34, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1) ;
}
.foot-panel3 p{
  color: rgba(255, 255, 255, 0.5);
  
}




/** -------------------------------HEADER MEDIA QUERY----------------------------------- **/
@media screen and (max-width: 576px) {
  
  .display-flex, .nav-links{
      flex-direction: column;
      border: none;
    }
  .nav-item{
      margin-right: 0px;
      margin-top: 15px;
    }
  .nav-links{
      margin-left: 150px;
    }
  .hero{
    flex-direction: column;
  }
  .logo{
    width: 353px;
    font-size: 36px;
  }
  .hero-text{
    width:353px;
    margin: auto;
  }
  .hero-title{
    width: 280px;
    font-size: 36px;
  }
  .hero-description{
    width: 274px;
    font-size: 16px;
  }
  .hero-section{
    flex-direction: column;
  }
  .hero-image img{
    width: 230px;
    height: 400px;
  }
  .join-button{
   font-size: 10px;
  }
}

/** -----------------------------HABITS SECTION STYLE----------------------- **/
@media screen and (max-width: 576px){
  .exercise-image{
    flex-direction: column;
  }
  .exercise-image img{
    padding: 10px;
  }
  .habits-titles{
    font-size: 30px;
  }
  .habits-descriptions{
    font-size: 5px;
  }
  .box1{
    width: 200px;
  }
  .box1 img{
    margin-left: 30px;
    width: 100px;
    height: 100px;
  }
  .habits-title{
    font-size: 10px;
    
  }
}

/** -----------------------------RUN SECTION STYLE-------------------------- **/
@media screen and (max-width: 576px){
  .exercise-title{
    font-size: 30px;
    text-align: center;
  }
  .exercise-description{
    font-size: 14px;
    text-align: center;
  }
  
  .run-image img{
    width: 287px;
    height: 170px;
  }
  .exercise{
    flex-direction: column;
    width:353px;
    height: 531px;
    margin-left: auto;
    align-items: center;
    justify-content: center;

  }
}

/**-----------------GRID SECTION MEDIA QUERY------------------ **/

@media screen and (max-width: 576px){
  .grid-image{
    flex-direction: column repeat(2, 1fr);
  }
  .training-title{
    width: 331px;
    font-size: 30px;
  }
  .training-description{
    width: 331px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  .grid-item1 img{
    width:175px;
    height: 124px;
  }
  .grid-item2 img{
    width:175px;
    height: 124px;
  }
  .grid-item4 img{
    width:175px;
    height: 124px;
  }
  .grid-item5 img{
    width:175px;
    height: 124px;
  }
  .grid-item3, .grid-item6{
    display: none !important;
  }
}

/** ------------------------- FITNESS SECTION STYLE --------------------------- **/
@media screen and (max-width: 576px) {
 .container{
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: auto;
  gap: 0.5px;
 }
  .bmi-chart h2{
    font-size: 12px;
  }
  table{
    width: 310px;
    height: 216px;
  }
  th{
    font-size: 16px;
  }
  td{
    font-size: 14px;
  }
  .bmi-calculator h2{
    font-size: 16px;
  }
  .bmi-calculator p{
    width: 200px;
    font-size: 12px;
  }
  .fitness-form{
    flex-direction: column;
  }
  .table-headling{
    margin: 0 auto;
  }
  .table-title{
    display: inline;
    position: relative;
  }
  .calculate-form{
    margin-top: auto;
    margin-left: auto;
  }
  .card-info1{
    right: 300px;
    top: 850px;
  }
  .card-info2{
    width: 115.73px;
    height: 56.58px;
    bottom: 190px;
    right: 100px;

  }
}

/**-----------------TRAINER SECTION MEDIA QUERY------------------ **/
@media (max-width: 768px) {
  .team-container {
      grid-template-columns: repeat(1, 2fr);
      width: 353px;
  }
  .team-member, .team-member-1{
   grid-template-columns: repeat(1, 1fr);
  }
  .team-member h3, .team-member-1 h3, .team-member-2 h3{
    top: auto;
  }
  .team-member p, .team-member-1 p, .team-member-2 p{
    position: absolute;
    top: auto;
  }
}
@media (max-width: 480px) {
  .trainer-section {
      grid-template-columns: 1fr;
  }
}

/** -----------------------------FOOTER SECTION STYLE----------------------- **/
@media screen and (max-width: 576px) {
  .foot-panel1{
    flex-direction: column;
    text-align: center;
    gap: 0.1em;
    padding: 0px;
  }
  .foot-panel3{
    flex-direction: column;
  }
  .foot-panel1 ul{
    align-items: center;
  }
}